<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MeetingRoom.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>810C907D1E9F471500F65A44</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>810C90911E9F471500F65A44</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>810C909C1E9F471500F65A44</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
